

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  text-align: center;
  
  border-radius: 8px;
  
}

.logo {
  margin-bottom: 20px;
}

.logo-image {
  max-width: 150px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-button {
  padding: 10px 20px;
  background-color: #120d79;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
